<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Organization List</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Organization List</a>
  </nav>

  <div class="container mt-4">
    <h1>Lista de Organizaciones</h1>
    <hr>
    {% if organizations %}
      <ul class="list-group">
        {% for organization in organizations %}
          <li class="list-group-item">
            <a href="{% url 'organization' organization.organization_id %}">
              {{ organization.organization_name }}
            </a>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No organizations found.</p>
    {% endif %}
    <a class="btn btn-primary mt-3" href="{% url 'organization_create' %}">Crear Organización</a>
  </div>

</body>
</html>
